@charset "utf-8";
/*CSS Document */

.navbar{
margin-bottom:0;
border-radius:0;
background:red;
color:white;
padding:1% 0;
font-size:1.0em;
border:0;
}
.navbar-inverse .navbar-nav li a{
color:;#D5D5D5;
}

footer{
	width:100%;
	background-color:yellow;
	padding:5%;
	color:#fff;
}
.fa{
	padding:15px;
	font-size:30px;
	color:#FFF;
}
.fa:hover{
	color:gray;
	text-decoration:none;
}

.jumbotron{
background-color:#2E2D88;
color:white;
}